{% extends "base.html" %}
    {% block content %}
           {% csrf_token %}
        {{form.as_p}}
          
        <button id="grade-btn" class=''onclick=createinstruction()>Create</button>
       <ol class="instructions"></ol>
<script>
    var token = localStorage.getItem('token')
    var host = window.location.protocol + "//" + window.location.host;
    function createinstruction() {
       var instruction = document.getElementById('id_instruction').value
       console.log(instruction)
       let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
       fetch(`https://schooltestproject.herokuapp.com/api/instructions/`,
            {
           method: 'POST',
           body: JSON.stringify({ 'note': instruction }),
           headers: {
               'Accept':'application/json',
               'Content-Type': 'application/json',
               'Authorization':'token'+' '+token,
               'X-CSRFToken': csrftoken
           },
       })
       .then(function(response) {
       location.reload();
       })
      }
var list = document.querySelector('.instructions');
function get(){
  var content = ''
  fetch( `https://schooltestproject.herokuapp.com/api/instructions/`,{
      method : 'GET',
      headers : {
        'Authorization':'token'+' '+token 
      },
    }).then(res => { 
      return res.json()})
    .then(data => {
    console.log(data.data)
    data.data.forEach((d, index) => {
      console.log(d.note)
      content += `<div class="cards">
        <li class="grade">${d.note} <button class="btn btn-danger btn-sm"  onclick=deleteInstruction(${d.id})>Delete</button>  </li> 
       
       </div>`
      })
      list.innerHTML = content;
  })
  
  }
  get();
  function deleteInstruction(id){
    fetch( `https://schooltestproject.herokuapp.com/api/instructions/${id}/`,{
      method : 'DELETE',
      headers : {
      'Content-Type': 'application/json',
      'Authorization': 'token' + ' ' + token,
      },
    }).then(res => { 
      get();
    })
    
  }
</script>
{% endblock %}