{% extends "base.html" %}
    {% block content %}
    {% load static %}
    <div class="modal fade" id="instruction-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="media-content">
            <div class="modal-header">
                <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="delete-box">
                    <h4>Are you want to delete?</h4>
                    <p class="chapter-btns"> </p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="delete-btn-yes" data-dismiss="modal" class="delete-btn-yes btn btn-danger ">Yes</button>
                <button id="delete-btn-no" data-dismiss="modal" class="delete-btn-no btn btn-primary">Back</button>
            </div>
        </div>
    </div>
</div>
    <div class="instructionForm">
           {% csrf_token %}
        {{form.as_p}}
          
        <button id="instruction-btn" class='btn btn-warning'onclick=createinstruction()>Create</button></div>
       <ol class="instructions mt-1"></ol>

<script src="{% static 'script_files/instructions.js' %}" type="text/javascript"></script>
{% endblock %}