{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Creation and updation modal -->
<div class="modal fade" id="QFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class=" modal-content" id="QForm-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="questionanswer" id="questionanswer">
        {%csrf_token%}
        <div class='grid-item'>
          <label for=""> Grade: </label>
          <span class="grade-p">{{questionform.grade}}</span>
        </div>
        <div class="grid-item"> <label for="id_subject">Subject:</label> <br> <select name="subject" required=""
            id="id_subject">
            <option value="" selected="">---------</option>
          </select></div>
        <div class="grid-item"> <label for="id_chapter">Chapter:</label> <br> <select name="chapter" required=""
            id="id_chapter">
            <option value="" selected="">---------</option>
          </select></div>
        <div class='grid-item'><label for="id_question">Question:</label> <input type='text' id='id_question'></div>
        <div class='grid-item'><label for="id_question_type">Question type:</label> <br><select name="question_type"
            id="id_question_type">
            <option value="MCQ" selected>MCQ</option>
            <option value="Fill_in_the_blanks">Fill_in_the_blanks</option>
            <option value="Match_the_following">Match_the_following</option>
          </select></div>
        <div class='grid-item'><label for="id_cognitive_level">Cognitive level:</label> <br><select
            name="cognitive_level" id="id_cognitive_level">
            <option value="Knowledge" selected>Knowledge</option>
            <option value="Comprehension">Comprehension</option>
            <option value="Application">Application</option>
          </select> </div>
        <div class='grid-item'><label for="id_difficulty_level">Difficulty level:</label> <br> <select name="difficulty_level" id="id_difficulty_level">
            <option value="Easy" selected>Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select> </div>
        <div class='grid-item'><label for="id_option_a">Option A:</label> <input type='text' id='id_option_a'></div>
        <div class='grid-item'><label for="id_option_b">Option B:</label> <input type='text' id='id_option_b'></div>
        <div class='grid-item'><label for="id_option_c">Option C:</label> <input type='text' id='id_option_c'></div>
        <div class='grid-item'><label for="id_option_d">Option D:</label> <input type='text' id='id_option_d'></div>
        <div class='grid-item'> <label for="id_answer">Answer:</label> <br><select name="answer" id="id_answer">
            <option value="option_a" selected>option_a</option>
            <option value="option_b">option_b</option>
            <option value="option_c">option_c</option>
            <option value="option_d">option_d</option>
          </select></div>
        <div class='grid-item'><label for="id_duration">Duration:</label><input type='text' id='id_duration' value="0"></div>
        <div class='grid-item'><label for="id_mark">Mark:</label><input type='text' id='id_mark' value="0"></div>
      </form>
      <div class="modal-footer">
        <span class="create-btn-container"> <button type="button" id="question-btn"
            class="btn btn-primary">Submit</button></span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- end  -->


<div class="modal fade" id="delete-box-Modal-question" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" id="media-question" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="delete-box">
          <h4>Are you want to delete?</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button id="delete-btn-yes" data-dismiss="modal" class="delete-btn-yes btn btn-danger">Yes</button>
        <button id="delete-btn-no" data-dismiss="modal" aria-label="Close"
          class="delete-btn-no btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="messageModal-question" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="messages container-fluid">

        </div>
        <div class="error-messages container-fluid">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="message-close-btn" class="btn btn-secondary" data-dismiss="modal">Close</button>


      </div>
    </div>
  </div>
</div>
<button id="--question" data-toggle="modal" data-target="#QFormModal">Add Question</button>
<div id="question-box">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <label for=""> Grade: </label>
  <span class="grade-p-get">
    <select name="grade" onchange="getgradename(this)" required="" class="grade-in-form" id="get_grade">
    </select></span>
  <br> <label for=""> Subject: </label>
  <select name="subject" onchange="get_subject_name(this)" required="" id="id_subject_2">
    <option value="" selected="">---------</option>
  </select>

  <button id="questioncreate-btn" onclick=get()>Get Question</button>
</div>

<div class="header">
  <h2 class="text-center">Grade - <span id="grade-head-question"></span></h2>
  <hr>
  <h3 class="text-center">Subject - <span id="subject-head-question"></span></h3>
</div>
<div class="question-error"></div>
<div class="question-list">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'script_files/question-detail.js' %}" type="text/javascript"></script>
<script src="{% static 'script_files/question-edit.js' %}" type="text/javascript"></script>

{% endblock %}