{% extends "base.html" %}
{% block content %}
<div id="message">

</div>
<div class="error-messages container-fluid">

</div>
<div class="question-paper-form" id="q-form">

    <div class="q-form" id="q-form-1">
        {% csrf_token %}

        <p><label for="id_grade">Grade:</label>{{form.grade}} </p>
        <p><label for="id_subject">Subject:</label> <select name="subject" onchange=getsubjectname(this) required=""
                id="id_subject">
                <option value="" selected="">---------</option>
            </select></p>
        <p><label for="id_no_of_questions">No of questions:</label> <input type="text" name="no_of_questions"
                maxlength="20" required="" id="id_no_of_questions"></p>
        <p class="chapter-btns">
            <!-- <button  id="chapter-btn" class="submit-btn btn btn-primary" onclick=getquestion()>Get</button> -->
            <button id="next-btn" class="submit-btn btn btn-primary" onclick=getnext()>Next</button>
            <!-- <button id="save-button" class="submit-btn btn btn-primary" onclick=savequestion()>Save</button></p> -->
    </div>
    <div class="q-form-2" id="q-form-2">
        <!-- <p><label for="from_chapter">From Chapter:</label> <select name="chapter" required="" id="from_chapter">
        </select></p> 
        <p><label for="to_chapter">To Chapter:</label> <select name="chapter" required="" id="to_chapter">
        </select></p> -->

        {{custom_form.as_p}}
        <p class="chapter-btns">
            <button id="customize-btn" class="submit-btn btn btn-primary"
                onclick="get_chapter('customize')">Customize</button>
            <button id="next-btn" class="submit-btn btn btn-primary" onclick="get_chapter('review')">Next</button>
        </p>
    </div>
    <div class="q-form-3" id="q-form-3">
        {% csrf_token %}
        <p> <label for="grade">GRADE</label> <span id="grade_value"></span> </p>
        <p> <label for="subject">SUBJECT</label> <span id="subject_value"></span> </p>
        <p> <label for="chapter">CHAPTER</label> <span id="chapter_value"></span> </p>
        <p> <label for="no_of_questions">NO_OF_QUESTIONS</label> <span id="No_of_questions"></span> </p>
        <p> <label for="remarks">REMARKS</label>{{test_form.remarks}}</p>
        <p> <label for="remarks">DESCRIPTION</label>{{test_form.description}}</p>
        <p> <label for="remarks">PASS PERCENTAGE</label>{{test_form.pass_percentage}}</p>
        
        <p class="chapter-btns">
            <span class="back-btn-review"></span>
            <button id="next-btn" class="submit-btn btn btn-primary" onclick=submit()>Create test</button>
        </p>
    </div>
    <div class="q-form-4" id="q-form-4">
        <p id="chapter-name"></p>
        <p>Cognitive Level </p>
        <p class="knowledge"><label for=""> Knowledge </label> <input min="0" type="number" name="" id="id_knowledge">
        </p>
        <p class="knowledge"><label for=""> Application </label> <input min="0" type="number" name=""
                id="id_application"></p>
        <p class="knowledge"><label for=""> Comprehension </label> <input min="0" type="number" name=""
                id="id_comprehension"></p>
        <p class="chapter-btns">
            <span class="back-btn"></span>
            <span class="next-btn"></span>
        </p>

        <div class="customize-details">

        </div>
        <div class="custom-error">

        </div>
    </div>
</div>

<script>

    var messages = document.getElementById('message')
    var token = localStorage.getItem('token')
    let error_messages = document.querySelector('.error-messages')
    let grade, subject, subject_name, no_of_questions,overall_mark;
    let timing=null, chapters, from_chapter, to_chapter, from_chapter_id = null, to_chapter_id = null;
    let all_chapter, result = null, questions_total = 0,customize = false;
    let customize_details = document.querySelector('.customize-details')
    let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    document.getElementById('q-form-2').style.display = 'none';
    document.getElementById('q-form-3').style.display = 'none';
    document.getElementById('q-form-4').style.display = 'none';
    function getsubjectname(sel) {
        subject_name = sel.options[sel.selectedIndex].text;
        console.log(subject_name);
    }


    function getnext() {
        document.getElementById('q-form-1').style.display = 'none';
        document.getElementById('q-form-2').style.display = 'block';
        document.getElementById('q-form-4').style.display = 'none';
        document.getElementById('q-form-3').style.display = 'none';
        grade = parseInt(document.getElementById('id_grade').value);
        subject = parseInt(document.getElementById('id_subject').value);
        no_of_questions = parseInt(document.getElementById('id_no_of_questions').value);
    }


    function get_chapter(type) {
        if(timing == null){
        timing = document.getElementById('timing_2').value
        console.log(document.getElementById('timing_2').value)
        timing = timing.split(':')
        console.log(timing)
        timing = ((parseInt(timing[0]) * 3600) + (parseInt(timing[1]) * 60))
        }
        console.log(timing)
        from_chapter_id = parseInt(document.getElementById('id_from_chapter').value);
        to_chapter_id = parseInt(document.getElementById('id_to_chapter').value);
     //   if(from_chapter_id)
        all_chapter = document.getElementById('id_allChapter').checked;
        console.log(from_chapter_id, to_chapter_id)
        
        url3 = ('https://schooltestproject.herokuapp.com/api/chapter-list/');
        fetch(url3, {
            method: 'POST',
            body: JSON.stringify({ 'grade': grade, 'subject': subject_name }
            ),
            headers: {
                'content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
            }
        }).then(res => {
            return res.json()
        }).then(data => {
            chapters = data.data
            console.log(chapters)
            console.log(all_chapter)
            if (!all_chapter) {
                console.log('hi')
                for (i = 0; i < chapters.length; i++) {
                    if (!from_chapter_id && chapters[i]['chapter_no'] == 1) {
                        from_chapter = chapters[i]
                    }
                    else if (!to_chapter_id && chapters[i]['chapter_no'] == chapters.length) {
                        to_chapter = chapters[i]
                    }
                    if (from_chapter_id && chapters[i]['id'] == from_chapter_id) {
                        from_chapter = chapters[i]
                    }
                    else if (to_chapter_id && chapters[i]['id'] == to_chapter_id) {
                        to_chapter = chapters[i]
                    }
                }
                new_list = []

                /*for(i = 0; i <chapters.length; i++) {
                    chapter_no = chapters[i]['chapter_no'] 
                    if(chapters[i]['chapter_no'] >= from_chapter['chapter_no'] && chapters[i]['chapter_no'] <= to_chapter['chapter_no']){
                        new_list()
                    }
                }*/
                val = from_chapter['chapter_no'] - 1
                for (i = val; i <= to_chapter['chapter_no'] - 1; i++) {
                    new_list.push(chapters[i])
                }
                chapters = new_list
                console.log(chapters)
                document.getElementById('grade_value').innerHTML = grade
                document.getElementById('subject_value').innerHTML = subject_name
                document.getElementById('No_of_questions').innerHTML = no_of_questions
                // document.getElementById('grade_value').innerHTML =
                    document.getElementById('grade_value').innerHTML = grade
                let content = ''
                console.log(chapters)
                for (i = 0; i < chapters.length; i++) {
                    console.log(chapters[i]['name'])
                    content += `<li>${chapters[i]['name']}</li>`
                }
                document.getElementById('chapter_value').innerHTML = content

            }

            if (type == 'review') {
                document.getElementById('q-form-1').style.display = 'none';
                document.getElementById('q-form-2').style.display = 'none';
                document.getElementById('q-form-3').style.display = 'block';
                document.getElementById('q-form-4').style.display = 'none';
                if(!customize){
                document.querySelector('.back-btn-review').innerHTML = '`<button id="next-btn" class="submit-btn btn btn-primary" onclick=getnext()>Back</button>`'
                }else{
                    document.querySelector('.back-btn-review').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(${null},${result.length-1})>Back</button>`
                }
            }
            else if (type == 'customize') {
                document.getElementById('q-form-1').style.display = 'none';
                document.getElementById('q-form-2').style.display = 'none';
                document.getElementById('q-form-3').style.display = 'none';
                document.getElementById('q-form-4').style.display = 'block';
                document.getElementById('chapter-name').innerHTML = `${chapters[0]['name']}`
                document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(0,1)>Next</button>`
                document.querySelector('.back-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=getnext()>Back</button>`
                result = []
                for (i = 0; i < chapters.length; i++) {
                    result.push({
                        'id': `${chapters[i]['id']}`,
                        'cognitive_level': {
                            'knowledge': 0,
                            'comprehension': 0,
                            'application': 0
                        }
                    }
                    )
                }
                console.log(result)
            }

        })



    }
    function next(current_index,index) {
        // id = parseInt(id)
        document.querySelector('.custom-error').innerHTML = ''
        if(current_index!=null){
            var knowledge = parseInt(document.getElementById('id_knowledge').value)
            var comprehension = parseInt(document.getElementById('id_comprehension').value)
            var application = parseInt(document.getElementById('id_application').value)    
        questions_total = 0
        console.log(current_index)
        customize = true
       
        for(i=0;i<result.length;i++){
            if(i != current_index){
            questions_total += result[i]['cognitive_level']['knowledge'] + result[i]['cognitive_level']['comprehension'] + result[i]['cognitive_level']['application']
            }
        }

        if((questions_total + knowledge+comprehension+application) <= no_of_questions){
        result[current_index]['cognitive_level']['knowledge'] = parseInt(document.getElementById('id_knowledge').value)
        result[current_index]['cognitive_level']['comprehension'] = parseInt(document.getElementById('id_comprehension').value)
        result[current_index]['cognitive_level']['application'] = parseInt(document.getElementById('id_application').value)
        }else{
        document.getElementById('id_knowledge').value = 0;
        document.getElementById('id_comprehension').value = 0;
        document.getElementById('id_application').value = 0;
        document.querySelector('.custom-error').innerHTML = `<li> questions added is more than required no of questions</li>`
    }
    }
        else{
            document.getElementById('q-form-3').style.display = 'none';
            document.getElementById('q-form-4').style.display = 'block';
        }    
    let content3 = ''
        for(i=0;i<result.length;i++){
            let n = result[i]['cognitive_level']['knowledge'] + result[i]['cognitive_level']['comprehension'] + result[i]['cognitive_level']['application']
            if(n){
                content3 += `<div> <p> CHAPTER ${i+1} : ${(chapters[i]['name']).toUpperCase()} </p>
                    <p> NO OF QUESTIONS : ${n} </p> </div>
                    `
            }
        }
        if(index == null){

            if((questions_total+knowledge+application+comprehension) != no_of_questions){
                document.querySelector('.custom-error').innerHTML = `<li> questions added is less than required no of questions</li>`
                return
            }
            else{
               return get_chapter('review')
            }
        }

        customize_details.innerHTML = content3
        // questions_total += parseInt(document.getElementById('id_knowledge').value) + parseInt(document.getElementById('id_comprehension').value) + parseInt(document.getElementById('id_application').value)
        document.getElementById('chapter-name').innerHTML = `${chapters[index]['name']}`
        if (index < (chapters.length - 1)) {
            document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(${index},${index + 1})>Next</button>`
            document.querySelector('.back-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(${index},${index - 1})>Back</button>`
            document.getElementById('id_knowledge').value = result[index]['cognitive_level']['knowledge'];
            document.getElementById('id_comprehension').value = result[index]['cognitive_level']['comprehension'];
            document.getElementById('id_application').value = result[index]['cognitive_level']['application'];
        } else {
            document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(${index},${null})>Review</button>`
            document.querySelector('.back-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(${index},${index - 1})>Back</button>`
        }
        if(index==0){
            document.querySelector('.back-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=getnext()>Back</button>`
        }

        console.log(questions_total)
        console.log(result)
    }
    


    // function customize() {
    //     get_chapter(r);
    //     console.log(chapters)
    // }

    function review() {
        document.getElementById('q-form-1').style.display = 'none';
        document.getElementById('q-form-2').style.display = 'none';
        document.getElementById('q-form-3').style.display = 'block';
        console.log(document.getElementById('id_timing').value)
        get_chapter(r);
    }


    function get_user_id() {
        fetch('https://schooltestproject.herokuapp.com/api/profile/', {
          method: 'GET',
          headers: {
            'content-Type': 'application/json',
            'Authorization': 'token' + ' ' + token,
          }
        }).then(res => {
          return res.json()
        }).then(data => {
          user_id = data.data.id
          user_type = data.data.user_type
          console.log(user_id)
        })
        return user_id,user_type
      };
    


    $("#id_grade").change(function () {
        var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-subject/';
        var gradeId = $(this).val();

        $.ajax({
            url: url_for_change,
            data: {
                'grade': gradeId
            },
            success: function (data) {
                $("#id_subject").html(data);
            }
        });

    });

    $('#id_subject').change(function () {
        var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-subject/';
        var subjectId = $(this).val();

        $.ajax({
            url: url_for_change,
            data: {
                'subject': subjectId
            },
            success: function (data) {
                $("#id_chapter").html(data),
                    $("#id_to_chapter").html(data),
                    $("#id_from_chapter").html(data)
            }
        });
    });
    function submit() {
        if(customize){
        questions_total = 0
        for(i=0;i<result.length;i++){
            questions_total += result[i]['cognitive_level']['knowledge'] + result[i]['cognitive_level']['comprehension'] + result[i]['cognitive_level']['application']
        }
    }
        if(questions_total != no_of_questions){
            result = null;
        }
        let url1 = new URL('https://schooltestproject.herokuapp.com/api/question-paper/')
      url1.searchParams.append('type', 'save');
        fetch(url1,
        {
            method: 'POST',
            body: JSON.stringify({ 'grade': grade, 'subject': subject, 'number_of_questions': no_of_questions, 'from_chapter': null, 
                    'to_chapter': null, 'all_chapters': all_chapter, 'timing': timing, 'overall_marks': overall_mark,'customize':result}
            ),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
                'X-CSRFToken': csrftoken
            },
        }).then(function (response) {
            if (response.status == 201) {
                console.log("Sucess response", response)
                messages.innerHTML = `${name} is created succesfully`;
                error_messages.innerHTML = ''
                // get();
                getsubject(grade_val, grade_id);
            } else {
                console.log(response);
            }
            return response.json()
        }).then(data => {
            console.log(data)
            if (data.status != 'success') {
                error_messages.innerHTML = `<li>${(data.data.error)}</li>`
                messages.innerHTML = ''
            }
        })


     //   let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      //  overall_mark=parseInt(document.getElementById('id_overallmarks').value)
      //  let url1 = new URL('https://schooltestproject.herokuapp.com/api/question-paper/')
      //  url1.searchParams.append('type', 'save');
      //  console.log(timing)
      //  fetch(url1, {
      //      method: 'POST',
        //    body: JSON.stringify({
       //         'grade': grade, 'subject': subject, 'number_of_questions': no_of_questions, 'from_chapter': null, 
       //         'to_chapter': null, 'all_chapters': all_chapter, 'timing': timing, 'overall_marks': overall_mark,'customize':result
       //     }),
        //    headers: {
         //       'content-Type': 'application/json',
          //      'Authorization': 'token' + ' ' + token,
           //     'Accept': 'application/json',
            //    'X-CSRFToken': csrftoken
            //}
 //       }).then(res => { console.log(res) }).then(data => {
  //          console.log(data)
    //        if(data.status == 'success'){
      //             let question_paper_id = data.data.id
        //    }
        //}).then(()=>{
//    user_id,user_type = get_user_id();
  //  let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  //  let form_remarks = document.getElementById('id_remarks').value
   // let form_description = document.getElementById('id_description').value
   // let form_percentage = document.getElementById('id_pass_percentage').value

    /**/
    
  //}
//)
    }





</script>

{% endblock %}