{% extends 'base.html' %}
{% block content %}
<div class="history-container-form" id="history-container-form">
    <!-- <label for=""> Grade: </label>
    <select name="grade" required="" id="id_grade">
        <option value="" selected="">---------</option>
      </select> -->
      {{form.as_p}}
    <label for=""> Subject: </label>
    <select name="subject" required="" id="id_subject">
        <option value="" selected="">---------</option>
      </select>
      <label for=""> Test: </label>
      <select name="test" required="" id="id_test">
          <option value="" selected="">---------</option>
        </select>
        <button class="btn btn-sm btn-primary" onclick=get()>Get</button>
        <div class="error-messages">

        </div>
</div>
<div class="history-container">

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
       var token = localStorage.getItem("token")
       var subjectId,gradeId,testId,content='',data2;
       let container = document.querySelector('.history-container')
       document.getElementById('nav-studenttesthistory').style.opacity = '0.5';
       if (token){
       let element = document.getElementById('id_test')
        let grade_element = document.getElementById('id_grade')
        let subject_element = document.getElementById('id_subject')
    // var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-grade/'; 
    
    // $.ajax({                       
    //   url: url_for_change,                  
    //   success: function (data) {
    //     $("#id_grade").html(data); 
    //   }
    // });
       
       $("#id_grade").change(function () {
      var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-subject/';
      gradeId = $(this).val();

      $.ajax({
        url: url_for_change,
        data: {
          'grade': gradeId
        },
        success: function (data) {
          $("#id_subject").html(data);
        }
      });

    });



    $("#id_subject").change(function () {
      var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-test/';
      subjectId = $(this).val();

      $.ajax({
        url: url_for_change,
        data: {
          'subject': subjectId
        },
        success: function (data) {
          $("#id_test").html(data);
        }
      });

    });


function get(){
    testId = document.getElementById('id_test').value
    if(!testId){
      document.querySelector('.error-messages').innerHTML ='give a valid test details'
      return
    }
    test_name = element.options[element.selectedIndex].text;
    grade_name = grade_element.options[grade_element.selectedIndex].text
    subject_name = subject_element.options[subject_element.selectedIndex].text
    console.log(subject_name)
    url = new URL('https://schooltestproject.herokuapp.com/api/test-history/');
  url.searchParams.append('test_id',testId)
  container.innerHTML = ''
  content = ''
  fetch(url, {
    method: 'GET',
            headers: {
                'content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
            }
        }).then(res => {
            return res.json()
        }).then(data => {
            console.log(data)
            data2 = data
            let i = 0;
    if(data.length){
      document.querySelector('.error-messages').innerHTML =''
      content +=             `<div class='history-container-head'> <button onclick=back() class='btn btn-sm btn-primary'>Back</button>
            <p  class='heading'> <span>Grade : ${grade_name}</span> <span class='test-heading'>${test_name}</span> <span>Subject : ${subject_name}</span></p>
           </div> `
            content += `<div class='history-container-div'><table>`

            content += '<tr><th>Sl.no</th><th>Name</th><th>Register_number</th><th>Result</th><th>Score</th><th>Correct answer</th><th>Wrong answer</th><th>Unanswered questions</th></tr>'
                data.forEach((d, index) => {
                    i += 1
                content += `<tr><td>${i}</td><td>${d.student_name}</td><td>${d.register_number}</td><td>${d.result}</td><td>${d.score}</td><td>${d.correct_answer}</td><td>${d.wrong_answer}</td><td>${d.unanswered_questions
}</td></tr>`
        })
      content += `</table></div>`
        container.innerHTML = content
        document.getElementById('history-container-form').style.display = 'none'
    }
    else{
    document.querySelector('.error-messages').innerHTML = `<li>Till now no one attended this test</li>`
    }
    })
}

function back(){
  document.getElementById('history-container-form').style.display = 'block'
  container.innerHTML = ''
}
}
else{
  window.location.href=`${host}/404` 
}

</script>
{% endblock %}