.chapter-cards {
    display: grid;
    width: 80%;
    padding-left: 0%;
    margin: 0% 1% 15%;
    height: auto;
    padding-top: 5%;
    grid-template-columns: auto auto auto;
    gap: 8%;
}
.chapter-card {
    width: 100%;
    color: block;
    height: auto;
    margin-top: 10px;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}
#back-btn-chapter {
    display: inline;
}

.ch-btn {
    margin-left: 0%;
    background-color: #0062cc;
    border-color: #005cbf;
    color: white;
    border-radius: 5px;
}

.chapter-cards .chapter-card {
    min-height: 30vh;
    height: auto;

    padding: 15% 12%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
    
.chapter-list label {
    width: 10%;
}
.chapter-card #delete {
    padding: 5px 15px;
    margin-left: 0%;
    border-radius: 5px;
    font-size: 150%;
}

.chapter-card #edit {
    padding: 5px 15px;
    margin-left: 7%;
    border-radius: 5px;
}
@media screen and (min-width:1024px) and (max-width:1200px) {

    .chapter-cards {
        width: 100%;
    }
    .chapter-cards .chapter-card {
        min-height: auto;
    }
    .chapterlist h4 {
        margin-left: 39%;
        margin-bottom: 2%;
    }

    .chapter-cards {
        display: grid;
        width: 33vw;
        padding-left: 0%;
        height: auto;
        padding-top: 5%;
        grid-template-columns: auto auto auto;
        gap: 8%;
    }
}
@media screen and (min-width:1359px) and (max-width:1450px) {
    .chapter-cards .chapter-card {
        min-height: 99%;
    }

}
@media screen and (min-width:430px) and (max-width:800px) {
    #chapterlist hr {
        margin-left: 35%;
    }

    .chapterlist h4 {
        margin-left: 43.5%;
    }

    .chapter-cards {
        grid-template-columns: auto auto;
        margin-left: 24%;
        column-gap: 3%;
        row-gap: 3%;
    }
    .chapter-cards .chapter-card {
        min-height: 33vh;
        margin-bottom: -5vh;
        width: 40vw;
    }
    #back-btn-chapter {
        margin-left: -9%
    }
}
@media screen and (max-width:420px) {
    #back-btn-chapter {
        display: inline;
        position: absolute;
        margin-left: -75%;
        margin-top: -31%;
    }
    .chapter-cards {
        display: grid;
        width: 100%;
        padding-left: 0%;
        margin: 0% 1% 15%;
        height: auto;
        padding-top: 5%;
        grid-template-columns: auto auto auto;
        gap: 8%;
    }
    .chapterlist h4 {
        margin-left: 37.5%;
        font-family: 'cinzel';
    }

    .chapter-cards {
        display: grid;
        grid-template-columns: auto;
        gap: 1%;
    }

    .chapter-cards .chapter-card {
        min-height: 30vh;
        height: auto;
        width: 91%;
        padding: 15% 10%;
        cursor: pointer;
        margin-left: 6%;
        font-size: 16px;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    }

    .chapter-card #edit {
        margin-left: 10%;
        font-size: 150%;
    }

    .chapter-card #delete {
        font-size: 150%;
        margin-top: 0;
        margin-left: 0%;
        color: #850b0b;
    }

    #back-btn-chapter {
        display: inline;
        margin-left: -71%;
        position: absolute;
        margin-top: -30%;
    }

}