.box .back-btn {
    margin-left: 105%;
    margin-bottom: 8%;
}
.chapterlist-box {
    background-color: #b2c8df;
    color: white;
    float: right;
    margin-left: 1100px;
    width: 20%;
    margin-top: 200px;
    padding: 30px 50px;
    position: fixed;
}
.form-box input {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
}
.chapter-edit-close .back-btn {
    margin: auto;
}
#form-chaplist input {
    width: 95%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.chapterhead {
    text-align: center;
}
.form-box input[type=text] {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    border: none;
}

#chapterlist-btn:hover {
    color: white;
    background-color: #14279b;
}

.chapterlist a {
    color: white;
    padding: 8px;
}

.chapterlist label {
    color: #000000;
    display: inline-block;
    width: 100px;
}

.chapterlist h4 {
    margin-left: 41.3%;
    margin-top: 1%;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #14279b;
}
.thead {
    font-size: 15px;
    color: black;
    text-align: justify;
}

.box {
    margin: 4% 40%;
    /* margin-top: 4%; */
    width: 20%;
    min-width: 200px;
    padding: 2% 3%;
    border-radius: 5px;
    background-color: #33699f;
}

p.chapter-edit-close {
    text-align: end;
}

.box label {
    width: 23%;
}

.box button {
    margin-left: 30%;
}
.chapter-table table,
.chapter-table td,
.chapter-table th {
    border: 1px solid #0000002e;
    text-align: center;
}

.chapter-table .btn {
    margin-bottom: 2%;
    margin-left: 20%;
    color: white;
}
.chapter-table table{
    width: 60%;
    margin-left: 20%;
    background-color: rgb(255 248 220 / 94%);
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

#chapterlist-btn {
    width: 41%;
    height: 32px;
    margin-left: 28%;
    margin-top: 20px;
    background-color: #b2c8df;
    color: #14279b;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #14279b;
}

.chapter-table #delete {
    padding: 2% 5%;
    margin-left: 0%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 150%;
}

.chapter-table #edit {
    padding: 2% 5%;
    margin-left: 0vw;
    border-radius: 5px;
    cursor: pointer;
}
.chapterhead {
    /* position: absolute; */
    display: flex;
    flex-flow: column;
    /* margin-left: 45%; */
    margin-top: 4%;
    text-align: center;
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .box {
        margin-left: 34%;
        width: 32%;
        padding: 4%;
        background-color: #33699f;
    }

    p.chapter-edit-close {
        margin: 0;
    }

    .chapter-table {
        width: 100%;
        margin-top: 5%;
    }
    .thead {
        font-size: 1.4vw;
        white-space: nowrap;
    }

}

@media screen and (min-width:1359px) and (max-width:1450px) {
    .box {
        margin-left: 33%;
        width: 25%;
        padding: 2% 4%;
        background-color: #33699f;
    }

    /* .chapter-table {
        margin-left: 18%;
        width: 80%;
        margin-top: 5%;
    } */
    #chapterlist-btn {
        width: 47%;
        margin-top: 5%;
    }

    .form .back-btn {
        margin-left: 103%;
    }

    .chapter-table {
        margin-top: 5%;
    }

    .chapter-table #delete {
        position: static;
    }
    
    .thead {
        font-size: 1.2vw;
        white-space: nowrap;
    }

}

@media screen and (min-width:430px) and (max-width:800px) {
    .box {
        margin: 9vh 30vw 4vh;
        width: 40vw;
        padding-top: 2vh;
        padding-left: 3vh;
        min-height: 30vh;
    }

    .box label {
        font-size: 1.8vw;
    }

    .chapter-table td {
        text-align: center;
        font-size: 100%;
    }

    .chapter-table th {
        padding-left: 4%;
    }

    .box input[type=text] {
        font-size: 13px;
    }

    .box #chapterlist-btn {
        font-size: 10px;
        margin-left: 11vw;
    }
    #form-chaplist .back-btn {
        color: white;
        top: 3%;
        right: 2%;
        background-color: transparent;
        font-size: 2vw;
        outline: none;
        position: absolute;
    }
    #chapterlist-btn {
        font-size: 11px;
        margin-left: 9vw;
    }

    .chapter-table table {
        white-space: nowrap;
        width: 70%;
        margin-left: 15%;
    }

    .chapter-table thead {
        font-size: 100%;
    }

    .chapter-table #edit {
        font-size: 145%;
    }
    .thead {
        font-size: 1.2vw;
        color: black;
        text-align: justify;
    }

}

@media screen and (max-width:420px) {
    .box label {
        margin-left: 5%;
    }

    .box {
        margin-left: 11%;
        padding: 5%;
        margin-top: 15%;
        width: 79%;
    }

    .box label {
        margin-left: 5%;
    }

    .box select {
        margin-left: 5%;
    }

    #chapterlist-btn {
        width: 45%;
        height: 2%;
        margin-left: 27%;
        margin-top: 5%;
        background-color: #b2c8df;
        color: #14279b;
        padding: 2%;
        outline: none;
        border: 1px solid #14279b;
        font-size: 75%;
    }

    .form .back-btn {
        margin-left: 93%;
    }

    .chapter-table {
        margin-top: 5%;
        overflow: scroll;
    }

    .chapter-table table {
        font-size: 65%;
        margin-left: 6%;
        margin-top: 8%;
        width: 128%;
    }

    .chapter-table #edit {
        font-size: 155%;
    }

    .chapter-table #delete {
        font-size: 155%;
    }

    .chapter-table table td {
        text-align: center;
    }
    .thead {
        font-size: 90%;
        white-space: nowrap;
    }

    .thead {
        font-size: 2.4vw;
        white-space: nowrap;
    }
    #mediabox {
        margin-left: 16%;
        margin-top: 4%;
        width: 64%;
        min-width: 200px;
        padding: 2% 3%;
        border-radius: 5px;
        background-color: #33699f;
        transform: rotate(0deg);
    }
    #delete-box-Modal-chapterlist .modal-content {
        width: auto;
        margin-left: auto;
    }
}