.instructionForm {
    width: 35%;
    margin: 6% 3%;
}
#id_instruction {
    resize: none;
}

#instruction-btn {
    margin-left: 88%;
    width: 12%;
    color: #14279B;
    outline: none;
    background-color: #b2c8df;
    border: 1px solid #14279B;
    border-radius: 5px;
}
.instructions {
    margin-left: 1%;
    margin-top: 2%;
}

@media screen and (min-width:1024px) and (max-width:1200px) {

}
@media screen and (min-width:1359px) and (max-width:1450px) {}
@media screen and (min-width:430px) and (max-width:800px) {

    #instruction-btn {
        margin-left: 77%;
        width: 22%;
    }
}
@media screen and (max-width:420px) {

    .instructionForm textarea {
        width: 270%;
    }
    #instruction-btn {
        margin-left: 200%;
        width: 40%;
    }
}