
#questionForm span.grade-p {
    font-size: 15px;
    display: block;
}
form.questionanswer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item {
    font-size: 10px;
}

#question-box {
    text-align: center;
    background-color: #b2c8df;
    width: 16%;
    margin: 1% 42%;
    padding: 1%;
    border-radius: 9px;
}

.question-error {
    text-align: center;
    margin-top: 3%;
}

button#questioncreate-btn {
    margin-top: 9%;
    font-size: 14px;
}

/* #question-box label {
    width: 5vw;
    display: inline-block;
} */

.question-btn {
    width: 110px;
    height: 39px;
    margin-left: 68px;
    margin-top: 0vh;
    margin-bottom: 17px;
    background-color: #b2c8df;
    color: #14279b;
    border: 1px solid #14279b;
}

.question-card button {
    color: white;
    width: auto;
    padding: 7px 15px;
    border-radius: 5px;
}

.question-card span {
    color: white;
    font-weight: normal;
    background-color: transparent;
}

.question-btn:hover {
    color: white;
    background-color: #14279b;
}

#questionlist-btn {
    width: 150px;
    height: 39px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #b2c8df;
    color: #14279b;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #14279b;
}

#questionlist-btn:hover {
    color: white;
    background-color: #14279b;
}

.questionlist #edit {
    margin-left: 0vw;
}

.questionlist #delete {
    margin-left: 4vw;
}

.question-list-container table {
    width: 90%;
}

.question-list-container {
    margin: 5%;
}
.question_create {
    display: none;
    grid-template-columns: auto auto auto auto;
    padding: 2vh;
    width: 62vw;
    /* height: 32vh; */
    grid-gap: 0.5vw;
    background-color: #b2c8df;
    margin-left: 27vw;
    margin-top: 6vh;
    position: fixed;
    border-radius: 5px;
}
#--question {
    color: #ffffff;
    margin: 2vh 4vw;
    outline: 1px solid #14279b;
    background: #14279b;
    margin-bottom: 2vh;
}


.question-card label {
    width: 20%;
}


.question-edit-btn {
    margin: 1% 30%;
}

.question-card {
    font-size: 15px;
    padding: 20px 9%;
    background-color: #5c7aea;
    border-radius: 5px;
    margin: 1% 5% 6%;
    height: auto;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.question-card-details {
    height: 85%;
}
.question-card #edit {
    padding: 5px 15px;
    margin-left: -1vw;
    border-radius: 5px;
    font-size: 150%;
    color: #14279B;
}

.question-card #delete {
    padding: 5px 15px;
    margin-left: -1vw;
    border-radius: 5px;
    font-size: 150%;
    color: #900202;
}
#q-form-1 input#id_no_of_questions {
    width: 88%;
}

.question-card p:nth-child(8),
.question-card p:nth-child(9),
.question-card p:nth-child(10),
.question-card p:nth-child(11),
.question-card p:nth-child(12) {
    margin-left: 243px;
}

.question-list fieldset {
    display: grid;
    margin: 2% 4%;
    /* gap: 3%; */
    grid-template-columns: auto auto auto auto;
}

.question-card p {
    color: rgba(0, 0, 0, 0.753);
    width: 237px;
    display: block;
    font-weight: bold;
}
#QForm-modal-content{
    width: 233%;
    background-color: #b2c8df;
    padding: 2% 5%;
    margin-left: -31%;
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .grid-item select {
        padding: 8px;
        width: 20vw;
        color: black;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .grid-item input[type=text] {
        width: 27vh;
        margin-bottom: -7px;
        color: black;
        font-size: 15px;
        border: none;
        margin-top: 0vh;
    }
    #question-box {
        margin-left: 34vw;
        background-color: #b2c8df;
        width: 32vw;
        height: 32vh;
        padding: 3vh;
        border-radius: 9px;
        margin-top: -3vh;
    }
    #QForm-modal-content {
        width: 203%;
        background-color: #b2c8df;
        padding: 2% 5%;
        margin-left: -50%;
    }
    .question_create {
        display: none;
        grid-template-columns: auto auto auto;
        padding: 2vh;
        width: 80vw;
        height: 47vh;
        grid-gap: 0.5vw;
        background-color: #b2c8df;
        margin-left: 8.5vw;
        margin-top: 6vh;
        position: fixed;
        z-index: 1;
    }

    .question_create .back-btn {
        margin-left: 76vw;
        color: black;
        height: 0;
        margin-top: 2vh;
        background-color: transparent;
        font-size: 1.5vw;
        outline: none;
        position: absolute;
    }

 

    .question-card {
        margin-top: 1vh;
        font-size: 15px;
        width: 84%;
        padding: 25px;
        background-color: #5c7aea;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .question-list fieldset {
        grid-template-columns: auto auto auto;
    }

    .question-card p {
        color: rgba(0, 0, 0, 0.753);
        width: 199px;
        display: block;
        font-weight: bold;
        font-size: 1.2vw;
    }

    .questionlist {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1%;
        column-gap: 0vh;
        margin-top: -1170px;
        margin-left: -116px;
    }

    .question-card p:nth-child(8),
    .question-card p:nth-child(9),
    .question-card p:nth-child(10),
    .question-card p:nth-child(11),
    .question-card p:nth-child(12) {
        margin-left: 20vw;
    }

    .question-list .question-card:nth-child(even) {
        margin-left: 1vh;
        width: 85%;
    }

    #--question {
        display: block;
        color: #14279b;
        /* margin-left: 38vw; */
        outline: 1px solid;
        background: transparent;
        margin-bottom: 0;
        margin-top: 2vh;
    }

    .question_create {
        display: none;
    }

    .question_create label {
        font-size: 1.2vw;
    }


    #questionForm {
        display: none;
    }

}
@media screen and (min-width:1359px) and (max-width:1450px) {
    .grid-item {
        font-size: 10px;
    }
    #question-box {
        /* margin-left: 3vw; */
        background-color: #b2c8df;
        width: 21%;
        margin: 1% 39%;
        height: 36vh;
        padding: 3vh;
        border-radius: 9px;

    }
    form.questionanswer{
        grid-template-columns: auto auto auto;
    }
    #question-box button {
        border: none;
        border-radius: 5px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 15px;
        font-weight: 800;
        margin-top: 1vh;
        /* margin-left: 5vw; */
    }
    .question-card {
        margin-left: -1vh;
        margin-top: 1vh;
        font-size: 15px;
        width: 87%;
        padding: 25px;
        background-color: #5c7aea;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

.question-card {
    margin-left: 17vh;
    margin-top: 1vh;
    font-size: 15px;
    width: 64%;
    padding: 25px;
    background-color: #5c7aea;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.question-card p {
    color: rgba(0, 0, 0, 0.753);
    width: 199px;
    display: block;
    font-weight: bold;
    font-size: 1.2vw;
}
.question-list #delete {
    margin-left: auto;
}

.question-list #edit {
    margin-left: 3%;
    border-radius: 5px;
}

.question-card p:nth-child(8),
.question-card p:nth-child(9),
.question-card p:nth-child(10),
.question-card p:nth-child(11),
.question-card p:nth-child(12) {
    margin-left: 20vw;
}

#--question {
    display: block;
    color: #14279b;
    margin-left: 4vw;
    outline: 1px solid;
    background: transparent;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.question_create {
    display: none;
}

.question_create {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4vh;
    width: 64vw;
    height: 53vh;
    background-color: #b2c8df;
    margin-left: 20vw;
    margin-top: 5vh;
    z-index: 4;
    position: fixed;
}



.question-btn {
    width: 12vh;
    height: 31px;
    margin-top: -1vh;
    margin-left: 52vw;
    margin-bottom: 17px;
    background-color: #b2c8df;
    color: #14279b;
    border: 1px solid #14279b;
    position: absolute;
}
.question-list #delete {
    margin-left: 6%;
}
.question-list fieldset {
    grid-template-columns: auto auto auto;
}
#QForm-modal-content {
    
    margin-left: -64%;
}
.question_create label {
    font-size: 1vw;
    margin-bottom: 0.2vh;
}

input[type=text] {
    padding: 5px;
    width: 250px;
    margin-bottom: -7px;
    color: black;
    font-size: 15px;
    border: none;
}

#questionForm {
    display: none;
}


}
@media screen and (min-width:430px) and (max-width:800px) {
    .grid-item {
        font-size: 10px;
        width: 23vw;
    }
    
    #question-box {
        width: 36%;
        /* height: 29vh; */
        padding-top: 1vh;
        margin: 2vh 32%;
    }

    button#questioncreate-btn {
        margin: 9%;
    }

    #question-box select {
        width: 90%;
        margin: 0 5%;
    }

    #question-box input {
        width: 17vw;
        margin-left: 4vw;
        padding: 0.4vh;
    }

    .question_create {
        display: none;
        grid-template-columns: auto auto;
        padding: 4vh;
        width: 82vw;
        margin-top: 3vh;
        margin-left: 8vw;
        height: 58vh;
        position: fixed;
    }


    .question_create .back-btn {
        margin-left: 94%;
        color: black;
        font-size: 2.2vw;
        margin-top: 1vh;
        background-color: transparent;
    }

    .question-card {
        font-size: 15px;
        width: 85%;
        padding: 22px;
        border-radius: 5px;
        height: auto;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .question-card p {
        color: black;
        width: 33vw;
        display: block;
    }

    .question-card label {
        width: 100px;
        display: inline-block;
    }

    .question-list fieldset {
        grid-template-columns: auto auto;
    }

    #questionForm input[type=text] {
        padding: 6px;
        width: 76%;
        margin-bottom: -4px;
        color: black;
        font-size: 11px;
        border: none;
    }

    .question_create label {
        font-size: 10px;
    }

    .question-btn {
        margin-top: 0px;
    }

    #questionForm input[type=select] {
        padding: 1vh;
    }

    #--question {
        display: block;
        margin-left: 4vw;
        /* text-align: center; */
        outline: 1px solid;
        padding: 5px;
        margin-bottom: 0;
        margin-top: 2vh;
    }


    #question_creation {
        display: none;
    }
    #QForm-modal-content {
        width: 133%;
        background-color: #b2c8df;
        padding: 2% 5%;
        margin-left: -16%;
    }
    form.questionanswer {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:420px) {
    form.questionanswer {
        display: grid;
        grid-template-columns: auto;
        margin-left: 11%;
    }
    .question_create {
        display: none;
        grid-template-columns: auto;
        width: 77%;
        height: 138%;
        margin-left: 12%;
        position: static;
    }

    .question_create .back-btn {
        margin-left: 65vw;
        margin-top: -1vh;
        font-size: 14px;
    }

    #question-box {
        margin-left: 13%;
        width: 70%;
        padding: 3% 4%;
        height: 0%;
        margin-top: 12%;
    }

    #questioncreate-btn {
        width: 47%;
    }
    #QForm-modal-content {
        width: 81%;
        background-color: #b2c8df;
        padding: 2% 5%;
        margin-left: 9%;
    }

    .question-list #delete {
        padding: 0;
        margin-left: 0%;
        font-size: 150%;
    }
    .question-card {
        margin-left: 11%;
        font-size: 93%;
        width: 75%;
        margin-bottom: 5%;
    }
    .question-card p {
        width: 100%;
    }

    .question-card #delete {
        margin-top: -9%;
        font-size: 150%;
        padding: 8%;
        margin-left: 2%;
    }

    .question-card #edit {
        font-size: 150%;
        padding: 2% 24%;
        margin-left: 2%;
    }
    .question-list {
        display: grid;
        margin-top: 10%;
        gap: 1%;
        margin-left: 8%;
        grid-template-columns: auto;
    }
    /* #question-box label {
        margin-left: 5%;
    } */

    #question-box select {
        margin-left: 5%;
    }

    .question_create label {
        margin-left: 5%;
    }

    .question_create select {
        margin-left: 5%;
    }

    .question_create input {
        margin-left: 5%;
    }

    .question-list fieldset {
        grid-template-columns: auto;
    }
    #QForm-modal-content input {
        width: 88%;
    }
    #delete-box-Modal-question .modal-content {
        width: auto;
        margin: auto;
    }
}