
.question-papers-get {
    background: #4548a136;
    margin-top: 13%;
    width: 25%;
    padding: 3%;
    margin-left: 38%;
}
.header{
    display: block;
    color: antiquewhite;
}

#Test_id {
    padding: 7px 10px;
    margin: 1% 1% 1% 10%;
}
/* .question-papers-card {
    height: auto;
    margin: 2% 6%;
} */

.text-center {
    text-align: center;
    font-family: 'Montserrat';
}

.question-papers-get .container {
    width: 86%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.test-create-container .modal-content{
    width: auto;
    margin: 0;
}
.questions-paper-card {
    font-size: 15px;
    background-color: #dcddff66;
    color: black;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 2%;
    margin: 1%;
}

/* @media screen and (min-width:1024px) and (max-width:1200px) {
    .question-papers-get {
        width: 35%;
        margin: 2% 30%;
        padding: 1%;
        background-color: #364de4;
    }

}
@media screen and (min-width:1359px) and (max-width:1450px) {
    .question-papers-get {
        width: 30%;
    margin: 17% 35%;
    padding: 2%;
    background-color: #4f52684d;
      }
    }

@media screen and (min-width:430px) and (max-width:800px) {
    .question-papers-get {
        width: 45%;
        margin: 2% 25%;
        padding: 2% 3%;
        background-color: #364de4;
    }
    .question-papers-card {
        display: grid;
        height: auto;
        width: 42%;
        margin: 2% 2%;
        grid-template-columns: auto auto auto;
        column-gap: 44%;
    }
    .questions-paper-card {
        font-size: 15px;
        background-color: #fff8dcb0;
        color: black;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        padding: 10%;
        margin: 6%;
        margin-left: 16%;
    }

}*/
@media screen and (max-width:500px) {
    .question-papers-get {
        width: 77%;
        padding: 5% 5%;
        margin-left: 8%;
        margin-top: 17%;
    }
} 
