<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <p> <label class="form-label" for="form1Example13">Email address</label>
    <input type="text" name="email" class="form-control" placeholder="Email" autocomplete="off"
        required="" id="id_email"></p>

    <p>  <label class="form-label" for="form1Example23">Phone</label>
        <input type="text" name="phone" class="form-control" placeholder="Phone" autocomplete="off"
        required="" id="id_phone"></p>
</body>
</html>