{% extends 'main.html' %}
{% block login %}

<div id = 'loginerror' > Invalid Email or Phone</div >

<!-- <div class="login-box">
    <h1>Login</h1>
    {%csrf_token%}
    {{form.as_p}}
    <button class="login-btn" onClick="login()">Login</button><br>
    <a class="signInLink" href="/signup">Signup?</a>
</div> -->
<section class="vh-100">
<div class="container py-5 h-100">
<div class="row d-flex align-items-center justify-content-center h-100">
<div class="col-md-8 col-lg-7 col-xl-6">
<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
class="img-fluid" alt="Phone image">
</div>


<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
{%csrf_token%}
<!-- Email input -->
<div class="form-outline mb-4">
<label class="form-label" for="form1Example13">Email address</label>
<input type="text" name="email" class="form-control" placeholder="Email" autocomplete="off" required="" id="id_email">
</div>
<!-- Password input -->
<div class="form-outline mb-4">
<label class="form-label" for="form1Example23">Phone</label>
<input type="text" name="phone" class="form-control" placeholder="Phone" autocomplete="off" required="" id="id_phone">
</div>
<!-- <div class="d-flex justify-content-around align-items-center mb-4"> -->
<!-- Checkbox -->
<!-- <div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
<label class="form-check-label" for="form1Example3"> Remember me </label>
</div>
<a href="#!">Forgot password?</a>
</div> -->
<!-- Submit button -->
<button class="login-btn btn btn-primary btn-lg btn-block" onClick=login()>Sign in</button>
<a class="signInLink" href="/signup">Signup?</a>
<!-- <div class="divider d-flex align-items-center my-4">
<p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
</div>
<a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
role="button">
<i class="fab fa-facebook-f me-2"></i>Continue with Facebook
</a>
<a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
role="button">
<i class="fab fa-twitter me-2"></i>Continue with Twitter</a> -->
</div>
</div>
</div>
</section>


<script>

    var host = window.location.protocol + "//" + window.location.host;
    function login() {
        var email = document.getElementById('id_email').value
        var phone = document.getElementById('id_phone').value
        let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch('https://schooltestproject.herokuapp.com/api/simple-login/',
            {
                method: 'POST',
                body: JSON.stringify({ 'email': email, 'phone': phone }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == 'success') {
                    console.log("data=", data)
                    console.log("email=1", data.data.email)
                    console.log("tokendata=", data.data.token)
                    localStorage.setItem('user_type',data.data.user_type)
                    localStorage.setItem("token", data.data.token);
                    window.location.href = `${host}/home`
                }
                else {
                    document.getElementById('loginerror').style.display = 'block';

                }
            })
    }



</script>
{% endblock %}