{% extends 'base.html' %}
{% block profile %}
<div class="container">
</div>
<div class="img-container"></div>
<input type="text" id="fname" placeholder="First Name"> 
<input type="text" id="lname" placeholder="Last Name"> 
<input type="text" id="ffname"placeholder="Full Name"> 
<input type="number" id="std" placeholder="Standard"> 
<input type="text" id="sec" placeholder="Section"> 
<input type="text" id="address"placeholder="Address"> 
<button id="submit">submit</button>
<script>
  let container = document.querySelector('.container');
    function profile() {
        let token = localStorage.getItem('token')
        console.log(token)
        fetch('https://schooltestproject.herokuapp.com/auth/profile/', {
          method: 'GET',
          headers: new Headers({
            'Authorization': 'token' + ' ' + token,
            'Content-Type': 'application/x-www-form-urlencoded'
          })
        })
          .then(response => response.json())
          .then(data => {
            console.log( data)
            let htmlSegment = `<div class="user" id='${data.data.id}'>
           <div class='image'>   <img  src='https://schooltestproject.herokuapp.com${data.data.profile?.profile_picture}'></div>
                   <p class="fullname">${data.data.profile?.full_name}</p>
                   <p class="firstname">${data.data.profile?.first_name}</p>
                   <p class="lastname">${data.data.profile?.last_name}</p>
                   <p class="std">${data.data.profile?.standard}</p>
                   <p class="sec">${data.data.profile?.section}</p>
                   <p class="address">${data.data.profile?.address}</p>
                   <a href=#" id='edit'>Edit</a>
                   </div>`;
      
            container.innerHTML = htmlSegment;
          }
          )
        }
        container.addEventListener('click',(e)=>{
        fname= document.getElementById('fname');
        lname= document.getElementById('lname');
        ffname= document.getElementById('ffname');
        std= document.getElementById('std');
        sec= document.getElementById('sec');
        ad=document.getElementById('address');
        button= document.getElementById('submit')
        e.preventDefault();
        let editbutton = e.target.id == 'edit';
        let id = e.target.parentElement.id;
        console.log(id)
        if (editbutton)
        {
          url="https://schooltestproject.herokuapp.com/auth/student-profile/"
          const parent = e.target.parentElement;
          console.log(parent)
          let fullname = parent.querySelector('.fullname').textContent;
          let lastname= parent.querySelector('.lastname').textContent;
          let firstname= parent.querySelector('.firstname').textContent;
          let standard= parent.querySelector('.std').textContent;
          let section= parent.querySelector('.sec').textContent;
          let address= parent.querySelector('.address').textContent;
          document.getElementById('ffname').value=fullname
          document.getElementById('lname').value=lastname
          document.getElementById('fname').value=firstname
          document.getElementById('std').value=standard
          document.getElementById('sec').value=section
          document.getElementById('address').value=address
          d=JSON.stringify({ 
          'profile':{'first_name':fname.value,'last_name':lname.value,'full_name':ffname.value,'standard':std.value,'section':sec.value,'address':ad.value}}
           )
           console.log(d)
           button.addEventListener('click',()=>{
            fetch(`${url}${id}/`,{
              method : 'PUT',
              headers : {
                'Content-Type' : 'application/json',
                'Authorization':'token'+" "+localStorage.getItem('token')
              },
              body:JSON.stringify({
              'profile':{'first_name':fname.value,'last_name':lname.value,'standard':std.value,'section':sec.value,'full_name':ffname.value,'address':ad.value}}
              )
          }).then(res => console.log(res.json()))
        }) 
      }
    
      }
      
    );
        
</script>

{% endblock %}


