{% extends 'base.html'%}
{% block users %}

<div class="modal fade" id="delete-staff-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='delete-box'>

          <h4>Are you sure to delete?</h4>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="no" data-dismiss="modal">No</button>
            <span class="create-btn-container"> <button type="button" data-dismiss="modal" id='yes'
                class="btn btn-primary">Yes</button></span>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
<div class="modal fade" id="messageModal-staff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="messages container-fluid">

        </div>
        <div class="error-messages container-fluid">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="reload()" data-dismiss="modal">Close</button>


      </div>
    </div>
  </div>
</div>
<!-- Creation and updation modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    
    <div class="modal-content" id="Form-modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="userDetails">
        {%csrf_token%}
        <div class='grid-item'>
          <label for="email">Email:</label><br>
          <input type="email" id='email' placeholder="Email">
        </div>
        <div class="standards-list" id="stdl"><p>standard-list</p></div>
      
      
        <div class='grid-item'>
          <label for="phone">Phone:</label><br>
          <input type="phone" id="phone" placeholder="Phone">
        </div>
      
        <div class='grid-item'>
          <label for="reg">Reg:</label><br>
          <input type="text" id="reg" placeholder="Reg">
        </div>
      
        <div class='grid-item'>
          <label for="dob">DOB:</label><br>
          <input type="date" id="dob" placeholder="DOB">
        </div>
      
       
        <div class='grid-item'>
          <label for="fname">Firstname:</label><br>
          <input type="text" id="fname" placeholder="First Name">
        </div>
      
        <div class='grid-item'>
          <label for="lname">Last Name:</label><br>
          <input type="text" id="lname" placeholder="Last Name">
        </div>
      
        <div class='grid-item'>
          <label for="ffname">Full Name:</label><br>
          <input type="text" id="ffname" placeholder="Full Name">
        </div>
       <div class='grid-item'>
          <label for="std">Standard:</label><br>
          <select name="grade" class="std-in-form form-control" onchange=getsectionname(this) required="" id="std"></select>
        </div>
      
        <div class='grid-item'>
          <label for="sec">Section:</label><br>
          <select name="grade" class="sec-in-form form-control" required="" id="sec">      </select>
        </div>
        <div class='grid-item'>
          <label for="address">Address:</label><br>
          <input type="text" id="address" placeholder="Address">
        </div>
      
        <div class='grid-item'>
          <label for="file">Profile picture:</label><br>
          <input type="file" id="file">
        </div>
      
      
        <div class='grid-item'>
          <button id="standard_add_btn" onclick=addstandard() >Add standard</button>
        </div>
      </form>
      <div class="formmodal-body">
        
      </div>
      <div class="modal-footer">
        <span class="create-btn-container"> <button type="button" id="userdetail-btn"
          class="btn btn-primary">Submit</button></span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="erase()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end  -->
<div class="standard-errors"></div>
<div class='sort-input'>
  <input type="text" id="student-filter" placeholder="search" min="0" max="12"   onkeyup="filter()">
  <button data-toggle="modal" data-target="#FormModal" id="addstaff" >Add Staff</button>
</div>
<div class="details"></div>
<div class="container2"></div>

<script>
  let stdsec;
  let user, standards = [];
  let staffs=[];
  let grade_list;
  let content = ''
  let token = localStorage.getItem("token")
  button=document.getElementById('userdetail-btn')
  $(document).ready(function(){ 
    if(!token){
      return window.location.href = '/login';
    }
    var user = localStorage.getItem('user_type')
    if (user != 'is_admin'){
     return window.location.href = '/404'; 
    }
  })


  $('#FormModal').on('hidden.bs.modal', function () {
    $(this).find('form').trigger('reset');
    console.log($(this).find('#stdl')[0].innerHTML='standard-list')
})
  fetch('https://schooltestproject.herokuapp.com/api/grades/', {
            method: 'GET',
            headers: new Headers({
            'Authorization': 'token' + ' ' + token,
            'Content-Type': 'application/json'
          })
        }).then(res => {
            return res.json()
        }).then(data => {
            grade_list = data.data
            console.log(data.data)
            content = ''
           if(data.status == 'failure'){
            window.location.href = `${host}/404`
           } 
        content += ` 
            <option value="" selected="">---------</option>`
        if(grade_list.length){
        for(i=0;i<grade_list.length;i++){
            content += ` <option value="${grade_list[i].grade}">${grade_list[i].grade}</option>`
        }
    }
        document.querySelector('.std-in-form').innerHTML = content
        })


  function getsectionname(element){
        let standard = element.value
        let sec_list;
        content = ''
        for(i=0;i<grade_list.length;i++){
            if(grade_list[i].grade==standard){
                sec_list = grade_list[i].section
            }
        }
        content += ` 
            <option value="" selected="">---------</option>`
        if(sec_list.length){
        for(i=0;i<sec_list.length;i++){
            content += ` <option value="${sec_list[i]}">${sec_list[i]}</option>`
        }
    }
        document.querySelector('.sec-in-form').innerHTML = content
    }

    button.addEventListener('click', () => {
      console.log('hi')
      let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      var email = document.getElementById('email').value
      var phone = document.getElementById('phone').value
      var dob = document.getElementById('dob').value
      var reg = document.getElementById('reg').value
      var standard = document.getElementById('std').value
      var section = document.getElementById('sec').value
      var type = 'is_staff'
      var firstname = document.getElementById('fname').value
      var lastname = document.getElementById('lname').value
      var fullname = document.getElementById('ffname').value
      var address = document.getElementById('address').value
      var is_dataentry = 'false'
        if (standard && section) {
            standards.push(standard + '-' + section)
        }

      fetch('https://schooltestproject.herokuapp.com/api/signup/',
        {
          method: 'POST',
          body: JSON.stringify({
            'email': email, 'phone': phone, 'date_of_birth': dob, 'register_number': reg, 'user_type': type,
            'is_data_entry': is_dataentry, 'first_name': firstname, 'last_name': lastname, 'standard': standards, 'full_name': fullname, 'address': address
          }
          ),
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
          }
        }).then(response => {
          if (response.status == 201) {
            console.log("Sucess response", response)
            messages.innerHTML = 'created successfully'
            error_messages.innerHTML = ''
          }
          return response.json();
        }).then(function (data) {
          console.log(data)
          if (data.status != 'success') {
            error_messages.innerHTML = `<li>${(data.data.error[0])}</li>`
            messages.innerHTML = ''
          }
        })
    })
  document.getElementById('nav-staffs').style.opacity = '0.5';
  let messages = document.querySelector('.messages')
  let error_messages = document.querySelector('.error-messages')
  add = document.getElementById('addstaff')
  button = document.getElementById('userdetail-btn');
  var host = window.location.protocol + "//" + window.location.host;
  let form = document.getElementById('userDetails')
  const container2 = document.querySelector('.container2');
  fetch('https://schooltestproject.herokuapp.com/api/user-details/', {
    method: 'GET',
    headers: new Headers({
      'Authorization': 'token' + ' ' + token,
      'Content-Type': 'application/json',
    })
  }).then(res => {
    return res.json()
  }).then(data => {
    data.forEach((d, index) => {
      if (`${d.user_type}` == 'is_staff') {
        staffs.push(d)
      }
  })
  let table2 = `<table class='--user' id='usr'>`;
    table2 += `<tr class="header">
           <th >Email</th>
           <th >Phone</th>
           <th>RegNo</th>
           <th>FullName</th>
           <th>FirstName</th>
           <th>LastName</th>
           <th>Date Of Birth</th>
           <th>Address</th>
           <th>Standard</th>
           <th id="action" >Action</th>
    </tr>`;
         console.log(staffs.length)
         staffs.forEach((d, index) => {

          let std=new Array
          for(let standard of d.profile?.standard){
            std.push(`${standard}`)
          }
        
          console.log(std)
            table2 = table2 + `<tr id=${d.id} class='list'>`;
            table2 = table2 + '<td class="useremail">' + `${d.email}` + '</td>';
            table2 = table2 + '<td class="userphone">' + `${d.phone}` + '</td>';
            table2 = table2 + '<td class="userreg">' + `${d.register_number}` + '</td>';
            table2 = table2 + '<td class="userfullname">' + `${d.profile?.full_name}` + '</td>';
            table2 = table2 + '<td class="userfirstname">' + `${d.profile?.first_name}` + '</td>';
            table2 = table2 + '<td class="userlastname">' + `${d.profile?.last_name}` + '</td>';
            table2 = table2 + '<td class="userDOB">' + `${d.date_of_birth}` + '</td>';
            table2 = table2 + '<td class="useraddress">' + `${d.profile?.address}` + '</td>';
            table2 = table2 + `<td class="userstandard" onclick="std('${std}',${index},${false})" id=${std}>` +`${std[0]} (${std.length})`+ '</td>';
            table2 = table2 + '<td>' + ` <i id="edit" data-toggle="modal" data-target="#FormModal"  class="fa fa-edit" onclick="edit(${index},${d.id})"></i><i id="delete" data-toggle="modal" data-target="#delete-staff-Modal" class="fa fa-trash-o" onclick="deleteuser(${d.id})" ></i>` + '</td></tbody>',
              table2 = table2 + `</tr>`;
            })
        table2 += "</table>";
        container2.innerHTML = table2;
})  

function deleteuser(id){
  console.log('hi')
  yes = document.getElementById('yes')
  yes.setAttribute("onClick", `deletestaff(${id})`);
}
function deletestaff(id) {
  url = "https://schooltestproject.herokuapp.com/api/user-details/"
  fetch(`${url}${id}/`, {
    method: 'DELETE',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': 'token' + ' ' + localStorage.getItem('token')
    },
  }).then(res => {

  })
}
function edit(index,id){
  let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      tr=document.querySelectorAll('.list')[index]
      let email =tr.querySelector(".useremail").textContent;
      let phone = tr.querySelector('.userphone').textContent;
      let reg = tr.querySelector('.userreg').textContent;
      let dob = tr.querySelector('.userDOB').textContent;
      let fullname = tr.querySelector('.userfullname').textContent;
      let lastname = tr.querySelector('.userlastname').textContent;
      let firstname = tr.querySelector('.userfirstname').textContent;
      console.log(email)
      form_email = document.getElementById('email');
      form_phone = document.getElementById('phone');
      form_reg = document.getElementById('reg');
      form_dob = document.getElementById('dob');
      form_fname = document.getElementById('fname');
      form_lname = document.getElementById('lname');
      form_fullname = document.getElementById('ffname');
      form_std = document.getElementById('std');
      form_sec = document.getElementById('sec');
      form_ad = document.getElementById('address');
      button = document.getElementById('userdetail-btn');
      if((tr.querySelector('.userstandard').id).split(',').length){
        standards = tr.querySelector('.userstandard').id.split(',');
        console.log(standards)
        }else{
          standards = []
          console.log(standards)
        }
        let editcontent = ` <p> standards list</p>`
        for (i = 0; i < standards.length; i++) {
         editcontent += ` 
            <li>${standards[i]}<button onclick=delete_standard(${i})>delete</button></li>`
        }
        document.querySelector('.standards-list').innerHTML = editcontent
      url = "https://schooltestproject.herokuapp.com/api/user-details/"
      if((tr.querySelector('.userstandard').id).split(',').length){
      standards = tr.querySelector('.userstandard').id.split(',');
      console.log(standards)
      }else{
        standards = []
        console.log(standards)
      }
      let content = ` <p> standards list</p>`
      for (i = 0; i < standards.length; i++) {
        content += ` 
          <li>${standards[i]}<button onclick=delete_standard(${i})>delete</button></li>`
      }
      document.querySelector('.standards-list').innerHTML = content
      let address = tr.querySelector('.useraddress').textContent;
      document.getElementById('email').value = email
      document.getElementById('phone').value = phone
      document.getElementById('reg').value = reg
      document.getElementById('dob').value = dob
      document.getElementById('ffname').value = fullname
      document.getElementById('lname').value = lastname
      document.getElementById('fname').value = firstname
      document.getElementById('address').value = address
      button.addEventListener('click', () => {
        if (!standards.length) {
          std = document.getElementById('std').value
          sec = (document.getElementById('sec').value).toUpperCase()
          if (!std || !sec) {
            error_messages.innerHTML = 'Enter valid standard and section'
            return
          }
          standards.push(std + '-' + sec)
        }
        fetch(`${url}${id}/`, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'token'+' '+localStorage.getItem('token'),
            'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({
            'email': form_email.value, 'phone': form_phone.value, 'date_of_birth': form_dob.value, 'register_number': form_reg.value,
            'profile': { 'first_name': form_fname.value, 'last_name': form_lname.value, 'standard': standards, 'full_name': form_fullname.value, 'address': form_ad.value }
          } )
        }).then(response => {
          if (response.status == 200) {
            error_messages.innerHTML = ''
            console.log(messages)
            console.log("Sucess response", response)
            messages.innerHTML = 'updated successfully'
          }
          else {
            error_messages.innerHTML = `<li>${(data.data.error)}</li>`
            messages.innerHTML = ''
          } 
        })
      })
    }
function std (id,index,flag){
  var td=document.querySelectorAll('.userstandard')
  ar=id.split(',')
  console.log(ar.length,ar)
if(!flag){
  if (ar.length > 1){
    content=''
    for( let i of ar){
      content+= `<li>${i}</li>`
    }
    td[index].innerHTML=content
  }
  console.log(document.getElementById(`${id}`))
  document.getElementById(`${id}`).setAttribute("onclick", `std('${id}',${index},${true})`);
}else{
    td[index].innerHTML = `${ar[0]} (${ar.length})`
    document.getElementById(`${id}`).setAttribute("onclick", `std('${id}',${index},${false})`);
}

}
  function filter() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("student-filter");
    filter = input.value.toLowerCase();
    table = document.getElementById("usr");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        alltags = tr[i].getElementsByTagName("td");
        isFound = false;
        for(j=0; j< alltags.length; j++) {
          td = alltags[j];
          console.log(td)
          if (td) {
              txtValue = td.textContent || td.innerText;
              console.log(txtValue)
              if (txtValue.toLowerCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                  j = alltags.length;
                  isFound = true;
              }
            }       
          }
          if(!isFound && tr[i].className !== "header") {
            tr[i].style.display = "none";
          }
        }
    }
  function back() {
    window.location.href = window.location.href;
    form.style.display = "none"
    add.style.display = 'block'
    document.getElementById('email').value = ''
    document.getElementById('phone').value = ''
    document.getElementById('reg').value = ''
    document.getElementById('dob').value = ''
    document.getElementById('ffname').value = ''
    document.getElementById('lname').value = ''
    document.getElementById('fname').value = ''
    document.getElementById('std').value = ''
    document.getElementById('sec').value = ''
    document.getElementById('address').value = ''
  }
 // document.querySelector('.--usr').addEventListener('click',=>())
 function addstandard() {
    let std = document.getElementById('std').value
    let section = (document.getElementById('sec').value).toUpperCase()
    if(!std){
           error_messages.innerHTML = '<li class="text-danger">give a valid standard</li>'
            return
        }
    if (!section.match(/[a-z]/i)) {
      error_messages.innerHTML = 'give a valid section'
      return
    }
    if (!standards.includes(std + '-' + section)) {
      standards.push(std + '-' + section)
    } else {
      messages.innerHTML = ''
      error_messages.innerHTML=''
      error_messages.innerHTML = 'standard and section already added'
      return
    }
    let content = ''
    content += `    <p> standards list</p>`
    for (i = 0; i < standards.length; i++) {
      content += `<li>${standards[i]} <button onclick=delete_standard(${i})>delete</button></li>`
    }
    document.querySelector('.standards-list').innerHTML = content
  }
  function delete_standard(index) {
    console.log(standards)
    standards.splice(index, 1);
    let content = ''
    content += `    <p> standards list</p>`
    for (i = 0; i < standards.length; i++) {
      content += `<li>${standards[i]} <button onclick=delete_standard(${i})>delete</button></li>`
    }
    document.querySelector('.standards-list').innerHTML = content
  }
</script>
{% endblock %}