{% extends "base.html" %}
{% block content %}
<div id="message">

</div>
<div class="error-messages container-fluid">

</div>

<div class="details">

</div>

<div class="question-paper-form" id="q-form">

    <div class="q-form" id="q-form-1">
        {% csrf_token %}

        <p><label for="id_grade">Grade:</label>{{form.grade}} </p>
        <p><label for="id_subject">Subject:</label> <select name="subject" onchange=getsubjectname(this) required=""
                id="id_subject">
                <option value="" selected="">---------</option>
            </select></p>
        <p><label for="id_no_of_questions">No of questions:</label> <input type="text" name="no_of_questions"
                maxlength="20" required="" id="id_no_of_questions"></p>
        <p class="chapter-btns">
            <!-- <button  id="chapter-btn" class="submit-btn btn btn-primary" onclick=getquestion()>Get</button> -->
            <button id="next-btn" class="submit-btn btn btn-primary" onclick=getnext()>Next</button>
            <!-- <button id="save-button" class="submit-btn btn btn-primary" onclick=savequestion()>Save</button></p> -->
    </div>
    <div class="q-form-2" id="q-form-2">
        <!-- <p><label for="from_chapter">From Chapter:</label> <select name="chapter" required="" id="from_chapter">
        </select></p> 
        <p><label for="to_chapter">To Chapter:</label> <select name="chapter" required="" id="to_chapter">
        </select></p> -->
        {{custom_form.as_p}}
        <p class="chapter-btns">
            <button id="customize-btn" class="submit-btn btn btn-primary"
                onclick="get_chapter('customize')">Customize</button>
            <button id="next-btn" class="submit-btn btn btn-primary" onclick="get_chapter('review')">Next</button>
        </p>
    </div>
    <div class="q-form-3" id="q-form-3">
        <p> <label for="grade">GRADE</label> <span id="grade_value"></span> </p>
        <p> <label for="subject">SUBJECT</label> <span id="subject_value"></span> </p>
        <p> <label for="chapter">CHAPTER</label> <span id="chapter_value"></span> </p>
        <p> <label for="no_of_questions">NO_OF_QUESTIONS</label> <span id="No_of_questions"></span> </p>
        <p> <label for="remarks">REMARKS/DESCRIPTIONS</label> <span id="remarks"></span> </p>
        <p class="chapter-btns">
            <button id="customize-btn" class="submit-btn btn btn-primary" onclick=back()>Back</button>
            <button id="next-btn" class="submit-btn btn btn-primary" onclick=submit()>Create test</button>
        </p>
    </div>
    <div class="q-form-4" id="q-form-4">
        <p id="chapter-name"></p>
        <p>Cognitive Level </p>
        <p class="knowledge"><label for=""> Knowledge </label> <input class="cognitive" min="0" type="number" name="" id="knowledge">
        </p>
        <p class="knowledge"><label for=""> Application </label> <input class="cognitive" min="0" type="number" name=""
                id="application"></p>
        <p class="knowledge"><label for=""> Comprehension </label> <input class="cognitive" min="0" type="number" name=""
                id="comprehension"></p>
        <p class="chapter-btns">
           <span class="back-btn"></span>
            <span class="next-btn"></span>
        </p>
    </div>
</div>

<script>

    var messages = document.getElementById('message')
    var token = localStorage.getItem('token')
    let error_messages = document.querySelector('.error-messages')
    let grade, subject, subject_name, no_of_questions,overall_mark;
    let timing, chapters, from_chapter, to_chapter, from_chapter_id, to_chapter_id;
    let all_chapter, result, questions_total = 0,with_customize=false;
    let total_question_chapter = []
    document.getElementById('q-form-2').style.display = 'none';
    document.getElementById('q-form-3').style.display = 'none';
    document.getElementById('q-form-4').style.display = 'none';
    function getsubjectname(sel) {
        subject_name = sel.options[sel.selectedIndex].text
        console.log(subject_name);
    }

    //function check(input){
       // questions_total += parseInt(input.value)
   //     console.log(input)
    //   index = input.parentElement.id;
   //    console.log(input.parentElement)
     //  result[index]['cognitive_level'][`${input.id}`] = parseInt(this.value)
     //  questions_total = calculate();
     //  if(questions_total>no_of_questions){
     //   document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" disabled>Next</button>`
    //   }
//
   // }

    function getnext() {
        document.getElementById('q-form-1').style.display = 'none';
        document.getElementById('q-form-2').style.display = 'block';
        document.getElementById('q-form-3').style.display = 'none';
        document.getElementById('q-form-4').style.display = 'none';
        grade = document.getElementById('id_grade').value;
        subject = document.getElementById('id_subject').value;
        no_of_questions = document.getElementById('id_no_of_questions').value;
    }

 function back(){
    if(customize){
        get_chapter('customize');
    }else{
        getnext();
    }
 }


    function get_chapter(type) {
        timing = document.getElementById('id_timing').value
        timing = timing.split(':')
        timing = ((parseInt(timing[0]) * 3600) + (parseInt(timing[1]) * 60))
        from_chapter_id = document.getElementById('id_from_chapter').value;
        to_chapter_id = document.getElementById('id_to_chapter').value;
        all_chapter = document.getElementById('id_allChapter').checked;
        console.log(from_chapter_id, to_chapter_id)
        url3 = ('https://schooltestproject.herokuapp.com/api/chapter-list/');
        fetch(url3, {
            method: 'POST',
            body: JSON.stringify({ 'grade': grade, 'subject': subject_name }
            ),
            headers: {
                'content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
            }
        }).then(res => {
            return res.json()
        }).then(data => {
            chapters = data.data
            console.log(chapters)
            console.log(all_chapter)
            if (!all_chapter) {
                console.log('hi')
                for (i = 0; i < chapters.length; i++) {
                    if (!from_chapter_id && chapters[i]['chapter_no'] == 1) {
                        from_chapter = chapters[i]
                    }
                    else if (!to_chapter_id && chapters[i]['chapter_no'] == chapters.length) {
                        to_chapter = chapters[i]
                    }
                    if (from_chapter_id && chapters[i]['id'] == from_chapter_id) {
                        from_chapter = chapters[i]
                    }
                    else if (to_chapter_id && chapters[i]['id'] == to_chapter_id) {
                        to_chapter = chapters[i]
                    }
                }
                new_list = []

                /*for(i = 0; i <chapters.length; i++) {
                    chapter_no = chapters[i]['chapter_no'] 
                    if(chapters[i]['chapter_no'] >= from_chapter['chapter_no'] && chapters[i]['chapter_no'] <= to_chapter['chapter_no']){
                        new_list()
                    }
                }*/
                val = from_chapter['chapter_no'] - 1
                for (i = val; i <= to_chapter['chapter_no'] - 1; i++) {
                    new_list.push(chapters[i])
                }
                chapters = new_list
                console.log(chapters)
                document.getElementById('grade_value').innerHTML = grade
                document.getElementById('subject_value').innerHTML = subject_name
                document.getElementById('No_of_questions').innerHTML = no_of_questions
                document.getElementById('grade_value').innerHTML =
                    document.getElementById('grade_value').innerHTML = grade
                let content = ''
                console.log(chapters)
                for (i = 0; i < chapters.length; i++) {
                    console.log(chapters[i]['name'])
                    content += `<li>${chapters[i]['name']}</li>`
                }
                document.getElementById('chapter_value').innerHTML = content

            }

            if (type == 'review') {
                document.getElementById('q-form-1').style.display = 'none';
                document.getElementById('q-form-2').style.display = 'none';
                document.getElementById('q-form-3').style.display = 'block';
                document.getElementById('q-form-4').style.display = 'none';

            }
            else if (type == 'customize') {
                with_customize = true
                document.getElementById('q-form-1').style.display = 'none';
                document.getElementById('q-form-2').style.display = 'none';
                document.getElementById('q-form-3').style.display = 'none';
                document.getElementById('q-form-4').style.display = 'block';
                document.getElementById('chapter-name').innerHTML = `${chapters[0]['name']}`
                document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(0,1)>Next</button>`
                result = []
                document.getElementById('knowledge').parentElement.id = 0
                for (i = 0; i < chapters.length; i++) {
                    result.push({
                        'id': `${chapters[i]['id']}`,
                        'cognitive_level': {
                            'knowledge': 0,
                            'comprehension': 0,
                            'application': 0
                        }
                    }
                    )
                }
                console.log(result)
            }

        })



    }
    function next(current_index,index) {
        questions_total = 0;
        for(i=0;i<result.length;i++){
            questions_total += result[i]['cognitive_level']['knowledge']
            questions_total += result[i]['cognitive_level']['application']
            questions_total += result[i]['cognitive_level']['comprehension']
        }
        if(questions_total >= no_of_questions){
            error_messages.innerHTML = 'given number of question exceeded '
        }
        else{

        let knowledge = parseInt(document.getElementById('knowledge').value)
        let comprehension = parseInt(document.getElementById('comprehension').value)
        let application = parseInt(document.getElementById('application').value)
            console.log(questions_total+knowledge+application+comprehension)
        if((questions_total+knowledge+application+comprehension) < no_of_questions){
            console.log(document.getElementById('knowledge').parentElement)
            document.getElementById('knowledge').parentElement.id = index
            document.getElementById('chapter-name').innerHTML = `${chapters[index]['name']}`
            result[current_index]['cognitive_level']['knowledge'] = knowledge
            result[current_index]['cognitive_level']['comprehension'] = comprehension
            result[current_index]['cognitive_level']['application'] = application


            if (index < (chapters.length - 1)) {
                document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick=next(${index},${index + 1})>Next</button>`
                document.getElementById('knowledge').value = result[index]['cognitive_level']['knowledge'];
                document.getElementById('comprehension').value = result[index]['cognitive_level']['comprehension'];
                document.getElementById('application').value = result[index]['cognitive_level']['application'];
                console.log(result[index]['knowledge'])
            } else {
    
                document.querySelector('.next-btn').innerHTML = `<button id="next-btn" class="submit-btn btn btn-primary" onclick="get_chapter('review')">Review</button>`
                
            } 
            if(index==0){
                document.querySelector('.back-btn').innerHTML = ` <button id="customize-btn" class="submit-btn btn btn-primary" onclick=getnext()>Back</button>`
            }
            else{
                document.querySelector('.back-btn').innerHTML = ` <button id="customize-btn" class="submit-btn btn btn-primary" onclick=next(${index},${index-1})>Back</button>`
            }
        }else{
            error_messages.innerHTML = 'given number of question exceeded '
        }
        // id = parseInt(id)
    

        //questions_total += parseInt(document.getElementById('knowledge').value) + parseInt(document.getElementById('comprehension').value) + parseInt(document.getElementById('application').value)
        
    }    


        
   //     let content2 = '';
    //    for(i=0;i<chapters.length;i++){
    //    content2 += `<p> chapter : ${chapters[i]['name']}</p>
    //    <p> no_of_questions : ${}    
   // `
 //    }
    //    document.querySelector('.details') = content2

        console.log(questions_total)
        console.log(result)
    
    }


    function customize() {
        get_chapter(r);
        console.log(chapters)
    }

    function review() {
        document.getElementById('q-form-1').style.display = 'none';
        document.getElementById('q-form-2').style.display = 'none';
        document.getElementById('q-form-3').style.display = 'block';
        console.log(document.getElementById('id_timing').value)
        get_chapter(r);
    }


    $("#id_grade").change(function () {
        var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-subject/';
        var gradeId = $(this).val();

        $.ajax({
            url: url_for_change,
            data: {
                'grade': gradeId
            },
            success: function (data) {
                $("#id_subject").html(data);
            }
        });

    });

    $('#id_subject').change(function () {
        var url_for_change = 'https://schooltestproject.herokuapp.com/api/ajax/load-subject/';
        var subjectId = $(this).val();

        $.ajax({
            url: url_for_change,
            data: {
                'subject': subjectId
            },
            success: function (data) {
                $("#id_chapter").html(data),
                    $("#id_to_chapter").html(data),
                    $("#id_from_chapter").html(data)
            }
        });
    });
    function submit() {
        overall_mark=document.getElementById('id_overallmarks').value
        url3 = ('https://schooltestproject.herokuapp.com/api/question-paper/');
        
        fetch(url3, {
            method: 'POST',
            body: JSON.stringify({
                'grade': grade, 'subject': subject, 'number_of_questions': no_of_questions, 'from_chapter': from_chapter_id, 
                'to_chapter': to_chapter_id, 'all_chapter': all_chapter, 'timing': timing, 'overall_marks': overall_mark,"customize":'null'
            }
            ),
            headers: {
                'content-Type': 'application/json',
                'Authorization': 'token' + ' ' + token,
            }
        }).then(res => { console.log(res) }).then(data => {
            console.log(data)
        })
    }


</script>

{% endblock %}