<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <!-- drag -->
    <!-- ✅ load jQuery ✅ -->
    <!-- drag -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Uchen&display=swap"
        rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- stylesheets -->
    <link rel="stylesheet" href="{% static 'styles/chapterlists.css' %}">
    <link rel="stylesheet" href="{% static 'styles/grade.css' %}">
    <link rel="stylesheet" href="{% static 'styles/subject.css' %}">
    <link rel="stylesheet" href="{% static 'styles/chapter.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/question-paper.css' %}">
    <link rel="stylesheet" href="{% static 'styles/question.css' %}">
    <link rel="stylesheet" href="{% static 'styles/question_answer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/test-history-staff.css' %}">
    <link rel="stylesheet" href="{% static 'styles/test-history-student.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/test-list-staff.css' %}">
    <link rel="stylesheet" href="{% static 'styles/test-list-student.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base-common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base-common-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base-tags.css' %}">
    <link rel="stylesheet" href="{% static 'styles/student.css' %}">
    <link rel="stylesheet" href="{% static 'styles/backup.css' %}">
    <link rel="stylesheet" href="{% static 'styles/backup-responsive.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'styles/userdetails.css' %}"> -->

    <!-- <link rel="stylesheet" href="{% static 'styles/question.css' %}"> -->
    <title>School</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" id="nav-btn" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">


                </ul>
            </div>
        </div>
    </nav>
    {% include 'accounts/home.html' %}
    {% block subject %}{% endblock %}
    {% block content %}{% endblock %}
    {% block profile %}{% endblock %}
    {% block chapter %}{% endblock %}
    {% block userd %}{% endblock %}
    {% block users %}{% endblock %}
    {% block question %}{% endblock %}
    {% block chapterlist %}{% endblock %}
    {% block history %}{% endblock %}
    {% block index %}{% endblock %}
    {% block question-bank %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        var host = window.location.protocol + "//" + window.location.host;
        /* 
         var staff = document.getElementById('nav-staffs')
         var academics = document.getElementById('nav-academics')
         var student = document.getElementById('nav-students')
         var chapter = document.getElementById('nav-chapterlist')
         var question = document.getElementById('nav-question')
         var questionpaper = document.getElementById('nav-questionpaper')
         var questionpaperlist = document.getElementById('nav-questionpaperlist')
         var instruction = document.getElementById('nav-instruction')
         var test = document.getElementById('nav-test')
         var testhistory = document.getElementById('nav-testhistory')
         var studenttesthistory = document.getElementById('nav-studenttesthistory')
         document.getElementById('nav-academics-link').href = `${host}/academics`
         document.getElementById('nav-chapterlist-link').href = `${host}/chapterlist`
         document.getElementById('nav-question-link').href = `${host}/questions`
         document.getElementById('nav-questionpaper-link').href = `${host}/question-paper`
         document.getElementById('nav-students-link').href = `${host}/students`
         document.getElementById('nav-staffs-link').href = `${host}/staffs`
         document.getElementById('nav-questionpaperlist-link').href = `${host}/test-create`
         document.getElementById('nav-test-link').href = `${host}/test-list`
         document.getElementById('nav-testhistory-link').href = `${host}/test-history`
         document.getElementById('nav-instruction-link').href = `${host}/instructions`
         document.getElementById('nav-studenttesthistory-link').href = `${host}/student-test-history`
         */
        function logout() {
            var host = window.location.protocol + "//" + window.location.host;
            fetch('https://schooltestproject.herokuapp.com/api/logout/',
                {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'token' + ' ' + localStorage.getItem('token')
                        // 'Content-Type': 'application/x-www-form-urlencoded', 
                    }
                }).then(response => response.text())
            localStorage.clear()
            window.location.href = `${host}/login`
        }
        function navbar() {
            var user = localStorage.getItem('user_type');
            var dataentry = localStorage.getItem('data_entry');
            if (user == 'is_student') {
                nav = ` <li class="back-btn-nav">
                    <button data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation"> &#x2715; </button>
                </li> 
            </li> <li class="nav-item" id="nav-profile">
                <a href= '${host}/profile'>Profile</a>
            </li>
            <li class="nav-item" id="nav-test">
                <a id="nav-test-link" href='${host}/test-list'>Test</a></li>
                <li class="nav-item" id="nav-testhistory">
                    <a id="nav-testhistory-link" href='${host}/test-history'>Test History</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="logout()">Logout</a>
                </li>`
                document.querySelector('.navbar-nav').innerHTML = nav
            }
            else if (user == 'is_staff' && dataentry) {
                nav = ` 
                <li class="back-btn-nav">
                    <button data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation"> &#x2715; </button>
                </li> <li class="nav-item" id="nav-profile">
                    <a href= '${host}/profile' tabindex="1">Profile</a>
                </li>

                <li class="nav-item" id="nav-academics">
                    <a id="nav-academics-link" href="${host}/academics" tabindex="1">Academics</a>
                </li>
                <li class="nav-item" id="nav-chapterlist">
                    <a id="nav-chapterlist-link" href='${host}/chapterlist' tabindex="1">ChapterList</a>
                </li>
                <li class="nav-item" id="nav-students">
                    <a id="nav-students-link" href='${host}/students' tabindex="1">Students</a>
                </li>
                <li class="nav-item" id="nav-question">
                    <a id="nav-question-link" href='${host}/questions' tabindex="1">Question</a>
                </li>
                <li class="nav-item" id="nav-questionpaperlist">
                    <a id="nav-questionpaperlist-link" href='${host}/test-create' tabindex="1">QuestionPaperlist</a>
                </li>
                <li class="nav-item" id="nav-testhistory">
                    <a id="nav-testhistory-link" href='${host}/test-history' tabindex="1">Test History</a>
                </li>
                <li class="nav-item" id="nav-instruction">
                    <a id="nav-instruction-link" href='${host}/instructions' tabindex="1">Instruction</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="logout()">Logout</a>
                </li>`
                document.querySelector('.navbar-nav').innerHTML = nav
            }
            else if (user == 'is_admin' && dataentry) {
                nav = ` 
                <li class="back-btn-nav">
                    <button data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation"> &#x2715; </button>
                </li> <li class="nav-item" id="nav-profile">
                    <a href= '${host}/profile' tabindex="1">Profile</a>
                </li>

                <li class="nav-item" id="nav-academics">
                    <a id="nav-academics-link" href="${host}/academics" tabindex="1">Academics</a>
                </li>
                <li class="nav-item" id="nav-chapterlist">
                    <a id="nav-chapterlist-link" href='${host}/chapterlist' tabindex="1">ChapterList</a>
                </li>
                <li class="nav-item" id="nav-students">
                    <a id="nav-students-link" href='${host}/students' tabindex="1">Students</a>
                </li>
                <li class="nav-item" id="nav-staffs">
                    <a id="nav-staffs-link" href='${host}/staffs' tabindex="1">Staff</a>
                </li>
                <li class="nav-item" id="nav-question">
                    <a id="nav-question-link" href='${host}/questions' tabindex="1">Question</a>
                </li>
                <li class="nav-item" id="nav-questionpaper">
                    <a id="nav-questionpaper-link" href='${host}/question-paper' tabindex="1">QuestionPaper</a>
                </li>
                <li class="nav-item" id="nav-questionpaperlist">
                    <a id="nav-questionpaperlist-link" href='${host}/test-create'tabindex="1">QuestionPaperlist</a>
                </li>
                <li class="nav-item" id="nav-studenttesthistory">
                    <a id="nav-studenttesthistory-link" href='${host}/student-test-history'tabindex="1">Testresults</a>
                </li>
                <li class="nav-item" id="nav-instruction">
                    <a id="nav-instruction-link" href='${host}/instructions' tabindex="1">Instruction</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="logout()">Logout</a>
                </li>`
                document.querySelector('.navbar-nav').innerHTML = nav

            }
            if (dataentry && user == '') {
                staff.style.display = 'none'
                test.style.display = 'none'
                testhistory.style.display = 'none'


            }
        } navbar();
    </script>



</body>

</html>